body {
  font-family: 'Libre Franklin', sans-serif;
  padding: 36px;
 
}

body * {
  box-sizing: border-box;
}

.container-main {
  display: flex;
  gap: 50px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1500px;
  width: 100%;
 
}
.container-main-informacion {
  width: 50%;
}
.section-content {
  width: 50%;
  margin-bottom: 319px;
}

.section-img {
  text-align: center;
  flex-grow: 1;
  width: 50%;
}

.section-img img {
  max-width: 100%;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 180px;
  padding: 36px;
}

header p {
  font-family: 'Playfair Display', serif;
}

.mab {
  position: relative;
  background-color: #CCC6F6;
  display: inline-flex;
 
}
 
.mab-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:  8px 12px;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  color: black;
  cursor: pointer;
}
 
.mab-btn:hover {
  background: rgba(0, 0, 0, 0.05); }
 
.mab-icon {
  margin-right: 8px;
}
 
.mab-list {
  position: absolute;
  display: none;
 top: 115%;
 right: 0;
 padding: 5px 0;
  background: #ffffff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
 
.mab-list--visible {
  display: initial;
}
 
.mab-btn-secondary {
  width: 100%;
  text-decoration: none;
}
 


h1 {
  font-family: 'Playfair Display', serif;
  font-weight: extrabold;
  font-size: 48px;
}


.laddingPage-secondaryTitle {
  font-weight: 200;
  font-size: 32px;
 line-height: 1.5;

}
.callToAction-button {
  background-color: #B6AFDF;
  font-size: 24px;
  padding: 12px 28px;
  border-radius: 12px;
  border: none;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  max-width: 300px!important;
}
 
.callToAction-button:hover {
 background:  rgba(54, 53, 53, 0.08);
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 34px;
}

.content-containers{
  display: flex;
  align-items: flex-start;
  padding: 56px 0px 0px;
  gap: 84px;
  flex-direction: row;
}

.about-img {
  max-width: 500px;
}


.section-about-img-wrapper {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.section-illustration-img-wrapper {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}








details{
  width: 350px;
  padding: 35px 27px 39px 36px;
  border-radius: 25px;
  background-color: #CCC6F6;
  
  box-shadow: 4px 4px 3px rgba (0,0,0,0.15);
}

summary {
  cursor: pointer;
}
summary h4 {
  display: inline;
  margin-left: 1rem;
  font-size: 1.25rem;
}
.h5-list {
  margin-left: 100px;
  font-size: 1.1rem;

}
ul {
  display: block;
  margin-left: -10px;
}

ul li {
  display: block;
  position: relative;
}

ul li:not(:last-child) {
  margin-bottom: 16px;
}

ul li:before {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -30px;
  margin-top: -.9em;
  background: black;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}


ol {
  counter-reset: item;
  list-style-type: none;
  line-height: 2.2;
  margin-left: -40px;
}

ol li {
  display: block;
  position: relative;
}

ol li span {
  margin-left: 40px;
}

ol li:before {
  content: counter(item) " ";
  counter-increment: item;
  color: #CCC6F6;
  position: absolute;
  top: 50%;
  margin-top: -1em;
  background: black;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 2em;
  font-weight: 700;
}






h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 34px;

}

.article-text {
  font-weight: 200;
  line-height: 1.5;
  font-size: 20px;
}

.img-illustration {
  border-radius: 34px;
}



.container-info {
  max-width: 1000px;
  width: 100%;
  background-color: #CCC6F6;
  border-radius: 25px;
  text-align: center;
  padding: 41px 41px 41px;
  
}

.container-info p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 200;
}

.email {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.social-media p {
  font-weight: 600;
}

.social-icon {
  display: flex;
  font-size: 24px;
  gap: 12px;
  color: black;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap
}

.social-icon a:hover {
  transform: scale (1.05);
  color: #B6AFDF;

}

.icon {
  width: 35px;
  margin-right: 0.7rem;
}

.contact-imagen {
  text-align: center!important;
  width: 100%;
  display: block;
}

footer.container-main {
  justify-content: center;
}

@media (max-width:1368px){
  .article-text {
    font-size: 16px;
    line-height: 2;
    
  }
}

@media (max-width:1264px) {
  summary h4 {
  font-size: 1rem;
  }
}
@media (max-width:1219px) {
  h1 {
    font-size: 40px;
  }
  .laddingPage-secondaryTitle {
    font-size: 24px;
  }
  details {
    padding: 35px 27px 39px 27px;
  }
}

@media (max-width:1158px) {
  body {
    padding: 48px;
  }
 
  h1 {
    font-size: 40px;
  }
  .laddingPage-secondaryTitle{
    font-size: 24px;
  }
  
  h3 {
    font-size: 24px;
  }
  .article-text {
    line-height: 1.8;
  }
  
}
@media (max-width:1143px){
  details {
    width: 465px;
  }
  .content-containers {
    flex-direction: column;
    gap: 73px;
  }
  summary h4 {
    font-size: 20px;
  }
  .section-about-img-wrapper {
    margin-top: 250px;
  }
}
@media (max-width:1095px) {
  .section-illustration-img-wrapper {
    margin-top: 70px;
  }
}
@media (max-width:1065px) {
  .laddingPage-secondaryTitle {
    font-size: 20px;
  }
  h1 {
    font-size: 36px;
  }
  .article-text {
    line-height: 1.6;
  }
}
@media (max-width:989px) {
  h1 {
    font-size: 32px;
  }
  .section-illustration-img-wrapper {
    margin-top: 105px;
  }
  .callToAction-button {
    font-size: 20px;
  }
}

@media (max-width:977px) {
  details {
    width: 399px;
  }
}
@media (max-width:899px) {
  .page-header {
    padding: 9px;
    margin-bottom: 66px;
  }

  .section-content , .section-img {
    width: 100%;
  }
  .section-content {
    margin-bottom: 0;
  }
  .container-main {
    flex-direction: column;
  }
  details {
    width: 676px;
  }
  .section-about-img-wrapper {
    margin-top: 0;
  }
  h3 {
    font-size: 32px;
  }
  .section-illustration-img-wrapper {
    margin-top: 0;
  }
  .container-info {
    margin-top: 100px;
  }
 
}
@media (max-width:737px) {
  details {
    width: 595px;
  }
}
@media (max-width:663px) {
  details {
    width:529px;
  }
}
@media (max-width:599px) {
  details {
    width: 480px;
  }
}
@media (max-width:529px) {
  body {
    padding: 20px;
  }
  h3 {
    font-size: 20px;
    font-weight: 800;
  }
}
@media (max-width:491px) {
  h2{
    font-size: 32px;
  }
  details {
    width: 416px;
  }
  .content-containers {
    gap: 60px;
  }
  .icon {
    width: 31px;
  }
}
@media (max-width:480px) {
  body {
    padding:12px
  }
}
@media (max-width:448px) {
  details {
    width: 389px;
  }
  h1{
    font-size: 24px;
  }
  h2 {
    font-size: 24px;
    font-weight: 800;
  }
  .laddingPage-secondaryTitle {
    font-size: 16px;
  }
  .callToAction-button {
    font-size: 16px;
  }
  .mab-btn {
    padding: 4px 9px;
  }
}

@media (max-width:412px) {
  details {
    width: 374px;
  }
  summary h4 {
    font-size: 16px;
  }
}
@media (max-width:398px) {
  details {
    width: 342px;
  }
}

@media (max-width:360px) {
  details {
    width: 321px;
  }
 
}
@media (max-width:320px) {
  .callToAction-button {
    font-size: 12px;
  }
  details {
    width: 285px;
  }
  .icon {
    width: 24px
  }
}






























































