body {
  font-family: 'Libre Franklin', sans-serif;
  display: flex;
  align-items: center;
  padding: 36px;
  gap: 191px;
  
  margin: auto;

}

.contenedor-principal-informacion {
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 200px;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 500px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: extrabold;
  font-size: 48px;
}


.contenedor-principal-imagen{
  text-align: center!important;
  width: 100%;
  display: block;
}

.contenedor-principal-informacion p{
  padding-right: 100px;
  font-weight: 200;
  font-size: 32px;
 line-height: 1.5;

}

.callToAction-button {
  background-color: #B6AFDF;
  font-size: 24px;
  padding: 12px 28px;
  border-radius: 12px;
  border: none;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  max-width: 300px!important;
}
 
.callToAction-button:hover {
 background:  rgba(54, 53, 53, 0.08);
}

.contenedor-principal-contentCards {
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 200px;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
 
  
}

.content-containers{
  display: flex;
  align-items: flex-start;
  padding: 56px 0px 0px;
  gap: 84px;
  flex-direction: row;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 34px;
}

.content-cards-img {
  text-align: center!important;
  width: 100%;
}


details{
  width: 350px;
  padding: 35px 27px 39px 36px;
  border-radius: 25px;
  background-color: #CCC6F6;
  
  box-shadow: 4px 4px 3px rgba (0,0,0,0.15);
}

summary {
  cursor: pointer;
}
summary h4 {
  display: inline;
  margin-left: 1rem;
  font-size: 1.25rem;
}
.h5-list {
  margin-left: 100px;
  font-size: 1.1rem;

}
ul {
  display: block;
  margin-left: -10px;
}

ul li {
  display: block;
  position: relative;
}

ul li:not(:last-child) {
  margin-bottom: 16px;
}

ul li:before {
  content: "";
  position: absolute;
  top: 1.2em;
  left: -30px;
  margin-top: -.9em;
  background: black;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}


ol {
  counter-reset: item;
  list-style-type: none;
  line-height: 2.2;
  margin-left: -40px;
}

ol li {
  display: block;
  position: relative;
}

ol li span {
  margin-left: 40px;
}

ol li:before {
  content: counter(item) " ";
  counter-increment: item;
  color: #CCC6F6;
  position: absolute;
  top: 50%;
  margin-top: -1em;
  background: black;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 2em;
  font-weight: 700;
}

.contenedor-principal-article {
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 200px;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  width: 35%;
  
}

.article-imagen {
  text-align: center!important;
  width: 100%;
  display: block;
}

.contenedor-principal-article {
  font-weight: 200;
  font-size: 16px;
  line-height: 1.5;
}
h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 34px;

}
.img-illustration {
  border-radius: 34px;
  padding: 10px 12px;
  gap: 10px;
  width: 582px;
  height: 714px;

}

.contenedor-principal-contact {
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 200px;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  height: 500px;
  

}
.contenedor-info{
  background-color: #CCC6F6;
  border-radius: 25px;
  text-align: center;
  padding: 41px 41px 41px;
}

.contenedor-info p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 200;
}

.email {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.social-media p {
  font-weight: 600;
}

.social-icon {
  display: flex;
  font-size: 24px;
  gap: 12px;
  color: black;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap
  

}

.social-icon a:hover {
  transform: scale (1.05);
  color: #B6AFDF;

}

.icon {
  width: 35px;
  margin-right: 0.7rem;
}
 




















.container3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 11px;
  gap: 10px;
  width: 1600px;
  height: 63px;
  margin-left: 55px;
 
}
.name-tag {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 16px;
}


.container4 {
 
  margin-top: 191px;
 
  height: 581px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 230px
}











.mab {
 position: relative;
  background-color: #CCC6F6;
  display: inline-flex;

}

.mab-btn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:  8px 12px;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  color: black;
  cursor: pointer;
}

.mab-btn:hover {
  background: rgba(0, 0, 0, 0.05);
}

.mab-icon {
 margin-right: 8px;
}

.mab-list {
  position: absolute;
  display: none;
  top: 115%;
  right: 0;
  padding: 5px 0;
  background: #ffffff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.mab-list--visible {
  display: initial;
}

.mab-btn-secondary {
 width: 100%;
 text-decoration: none;
}































